<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shortvideoserver.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.shortvideoserver.entity.User">
            <id property="uid" column="uid" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="account" column="account" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="INTEGER"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="level" column="level" jdbcType="INTEGER"/>
            <result property="exp" column="exp" jdbcType="BIGINT"/>
            <result property="viplevel" column="viplevel" jdbcType="INTEGER"/>
            <result property="vipexp" column="vipexp" jdbcType="INTEGER"/>
            <result property="gold" column="gold" jdbcType="BIGINT"/>
            <result property="silver" column="silver" jdbcType="BIGINT"/>
            <result property="copper" column="copper" jdbcType="BIGINT"/>
            <result property="sign" column="sign" jdbcType="VARCHAR"/>
            <result property="voice" column="voice" jdbcType="INTEGER"/>
            <result property="music" column="music" jdbcType="INTEGER"/>
            <result property="registertime" column="registertime" jdbcType="BIGINT"/>
            <result property="lastlogin" column="lastlogin" jdbcType="BIGINT"/>
            <result property="loginday" column="loginday" jdbcType="INTEGER"/>
            <result property="platform" column="platform" jdbcType="VARCHAR"/>
            <result property="ip" column="ip" jdbcType="VARCHAR"/>
            <result property="country" column="country" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        uid,nickname,account,
        password,phone,address,
        level,exp,viplevel,
        vipexp,gold,silver,
        copper,sign,voice,
        music,registertime,lastlogin,
        loginday,platform,ip,
        country
    </sql>

    <insert id="insertUser" parameterType="com.shortvideoserver.entity.User">
        insert into user (uid,
                          nickname,
                          account,
                          password,
                          phone,
                          address,
                          level,
                          exp,
                          viplevel,
                          gold,
                          silver,
                          copper,
                          sign,
                          voice,
                          music,
                          registertime,
                          lastlogin,
                          loginday,
                          platform,
                          ip,
                          country)
        values (#{uid,jdbcType=VARCHAR},
                #{nickname,jdbcType=VARCHAR},
                #{account,jdbcType=VARCHAR},
                #{password,jdbcType=VARCHAR},
                #{phone,jdbcType=VARCHAR},
                #{address,jdbcType=VARCHAR},
                #{level,jdbcType=INTEGER},
                #{exp,jdbcType=BIGINT},
                #{viplevel,jdbcType=INTEGER},
                #{gold,jdbcType=BIGINT},
                #{silver,jdbcType=BIGINT},
                #{copper,jdbcType=BIGINT},
                #{sign,jdbcType=VARCHAR},
                #{voice,jdbcType=INTEGER},
                #{music,jdbcType=INTEGER},
                #{registertime,jdbcType=BIGINT},
                #{lastlogin,jdbcType=BIGINT},
                #{loginday,jdbcType=INTEGER},
                #{platform,jdbcType=VARCHAR},
                #{ip,jdbcType=VARCHAR},
                #{country,jdbcType=VARCHAR});
    </insert>
    <update id="updateUser" parameterType="com.shortvideoserver.entity.User">
        update user
        <set>
            <if test="uid != null">
                uid = #{uid,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="account != null">
                account = #{account,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                level = #{level,jdbcType=INTEGER},
            </if>
            <if test="exp != null">
                exp = #{exp,jdbcType=BIGINT},
            </if>
            <if test="viplevel != null">
                viplevel = #{viplevel,jdbcType=INTEGER},
            </if>
            <if test="gold != null">
                gold = #{gold,jdbcType=BIGINT},
            </if>
            <if test="silver != null">
                silver = #{silver,jdbcType=BIGINT},
            </if>
            <if test="copper != null">
                copper = #{copper,jdbcType=BIGINT},
            </if>
            <if test="sign != null">
                sign = #{sign,jdbcType=VARCHAR},
            </if>
            <if test="voice != null">
                voice = #{voice,jdbcType=INTEGER},
            </if>
            <if test="music != null">
                music = #{music,jdbcType=INTEGER},
            </if>
            <if test="registertime != null">
                registertime = #{registertime,jdbcType=BIGINT},
            </if>
            <if test="lastlogin != null">
                lastlogin = #{lastlogin,jdbcType=BIGINT},
            </if>
            <if test="loginday != null">
                loginday = #{loginday,jdbcType=INTEGER},
            </if>
            <if test="platform != null">
                platform = #{platform,jdbcType=VARCHAR},
            </if>
            <if test="channelId != null">
                channelId = #{channelId,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                ip = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="country != null">
                country = #{country,jdbcType=VARCHAR}
            </if>
        </set>
        where uid = #{uid,jdbcType=VARCHAR};
    </update>
    <select id="getAllUsers" resultType="com.shortvideoserver.entity.User">
        select *
        from user;
    </select>
    <select id="getUserByAccount" resultType="com.shortvideoserver.entity.User">
        select *
        from user where account = #{account,jdbcType=VARCHAR};
    </select>
</mapper>
